* {
  box-sizing: border-box;
}

.container {
  display:flex;
  flex-direction: column;
  height:auto;
}

.main__home-container1 {
  max-width:1270px;
  width:100%;
  height:auto;
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  flex-wrap:wrap;
  margin-top:1rem;
  position:relative;
}

.questions-and__details_container {
  display:flex;
  flex-direction:row;
  flex:6;
  margin-left:9rem;
}

@media screen and (max-width:600px) {
  .questions-and__details_container {
    margin-left:0rem;
  }
}