.avatar {
  background-color : #0074c6;
  padding:6px 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:-1rem;
  margin-right:0.4rem;
  border-radius:50px;
}

.avatar:hover {
  font-weight:bold;
}

@media screen and (max-width:600px) {
  .avatar {
    margin-left:0.1rem;
    padding:3px 10px;
  }
}
